@media(max-width: 625px) {
    
    main{
        margin-top: 30px;
    }
    
    
    main > img{
        
        background-image: url('../img/image-product-mobile.jpg');
        display: none;
    }
 }
