@media(max-width: 640px) {
     
    main{
        margin-top: 30px;
    }
    
    main > div.imagem{
        width: 570px;
        height: 350px;
        background-image: url('../img/image-product-mobile.jpg');
        border-radius: 10px 10px 0px 0px;
    }

    main > section {
        width: 500px;
        border-radius: 0px 0px 10px 10px; 
        padding-bottom: 30px;
    }

}
